<abp-page [title]="'::Branches' | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">
      <button
        class="btn btn-primary btn-sm mx-2"
        type="button"
        [disabled]="isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'EgyptReciepts.Branches.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewBranch' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="ngx-datatable-container">
      <ngx-datatable 
      [rows]="data.items" 
      columnMode="force"
      [count]="data.totalCount" 
      [list]="list" 
      [class.is-empty]="data.items.length === 0"
      default>
        <ngx-datatable-column
          [name]="'AbpUi::Actions' | abpLocalization"
          [maxWidth]="150"
          [width]="150"
          [sortable]="false"
        >
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
             <div  container="body" class="d-inline-block row">
              <i 
              class="fas fa-edit col-4" 
              *abpPermission="'EgyptReciepts.Branches.Edit'"
              (click)="update(row)"></i>
              <i 
              class="fas fa-trash col-4" 
              *abpPermission="'EgyptReciepts.Branches.Delete'"
                  (click)="delete(row)"></i>
              <i 
              class="fas fa-book col-4" 
              *ngIf="isPublic"
                  (click)="Book(row)"></i>
             </div>
           
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Title' | abpLocalization }}" prop="title">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.title }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::MangerName' | abpLocalization }}" prop="mangerName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.mangerName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::StartTime' | abpLocalization }}" prop="startTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.startTime | shortTime }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::EndTime' | abpLocalization }}" prop="endTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.endTime | shortTime }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
            ngx-datatable-footer-template
          >
            <app-nodata-or-loading
              loaderImage="table.svg"
              [isLoadingData]="data.items.length > 0"
              [isDataNotEmpty]="data.items.length > 0"
              [isTableMode]="false"
            >
            </app-nodata-or-loading>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
    </div>
  </div>
</abp-page>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>
      {{ (selected ? 'AbpUi::Edit' : '::NewBranch') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" id="branch" (ngSubmit)="submitForm()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <div class="mb-3">
          <label class="form-label" for="branch-title"> {{ '::Title' | abpLocalization }} * </label>

          <input
            id="branch-title"
            formControlName="title"
            class="form-control"
            maxlength="200"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="branch-manger-name">
            {{ '::MangerName' | abpLocalization }} *
          </label>

          <input
            id="branch-manger-name"
            formControlName="mangerName"
            class="form-control"
            maxlength="250"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="branch-start-time">
            {{ '::StartTime' | abpLocalization }}
          </label>

          <div class="input-group" validationTarget>
            <!-- Use NgbTimepicker directly without ngb-timepicker directive -->
            <ngb-timepicker
            formControlName="startTime"
            [minuteStep]="30"
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="branch-end-time">
            {{ '::EndTime' | abpLocalization }}
          </label>
    
          <div class="input-group" validationTarget>
            <!-- Use NgbTimepicker directly without ngb-timepicker directive -->
            <ngb-timepicker
            formControlName="endTime"
            [minuteStep]="30"
            ></ngb-timepicker>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="branch">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
